---
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import '../styles/global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
    	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    	<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:wght@700&display=swap" rel="stylesheet">
		<title>Homepage</title>
		<style>
			html {
			height: 100%;
			margin: 0;
			padding: 0;
			}

			body {
			min-height: 100vh;
			margin: 0;
			padding: 0;
			display: flex;
			flex-direction: column;
			font-family: 'Courier Prime', monospace;
			background-color: #282A36;
			overflow-x: hidden; /* Hide horizontal scrollbar */ 
			}

			.site-content {
			flex: 1; 
			display: flex;
			flex-direction: column;
			justify-content: center; 
			align-items: center;
			text-align: center;
			/* width: 100%;  */
			}

			.kaustubh-rai {
			color: #ffffff;
			font-size: 96px;
			font-weight: bold;
			text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25); /* Adjust x, y, blur, and color as needed */
			margin: 0;
			}

			.just-an-info-sec-nerd-s-blog {
			color: #f3865f;
			font-size: 30px;
			font-weight: bold;
			-webkit-text-stroke: 1px black; /* Stroke effect */
			text-shadow: 3px 3px 0px rgba(0, 0, 0, 0.25); /* Drop shadow effect */
			margin: 20px 0;
			}

			.social-media {
			margin-top: 50px;
			}

			.social-icon {
			display: inline-block;
			width: 65px;
			height: 30px;
			background-size: contain;
			margin: 0 10px;
			transition: transform 0.3s ease-in-out;
			}

			.social-icon:hover {
			transform: translateY(-5px);
			}

		</style>
	</head>
	<body>
		<!-- CONTENT OF HEADER  -->
		<div id="header-placeholder"></div>
		<Header />

		<div class="site-content">
			<div class="kaustubh-rai">Kaustubh Rai</div>
			<div class="just-an-info-sec-nerd-s-blog">
				Just an InfoSec nerd’s blog
			</div>
			<div class="social-media">
				<a href="https://twitter.com/MrMyzptlk" class="social-icon twitter" target="_blank">
				<svg class="twitter" width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<title>Twitter</title>
					<path d="M14.8776 11.856L24.1839 0H21.9782L13.8997 10.294L7.44431 0H0L9.76031 15.568L0 28H2.20572L10.7382 17.128L17.5557 28H25L14.8776 11.856ZM11.8576 15.704L10.8687 14.154L2.99978 1.82H6.3874L12.7362 11.774L13.7251 13.324L21.98 26.264H18.5924L11.8576 15.704Z" fill="#F3865F"/>
					</svg>
				</a>
				<a href="https://github.com/KaustubhRai" class="social-icon github" target="_blank">
				<svg class="github" width="28" height="29" viewBox="0 0 28 29" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M10.4642 23.6304C10.766 23.5457 11.0178 23.3576 11.1641 23.1073C11.3104 22.8571 11.3393 22.5652 11.2444 22.296C11.1495 22.0268 10.9385 21.8022 10.658 21.6717C10.3775 21.5411 10.0503 21.5154 9.74847 21.6001L10.4642 23.6304ZM1.76074 17.3308L0.605999 17.0584L0 19.1185L1.15474 19.3888L1.76074 17.3286V17.3308ZM18.4567 27.9359V29H20.8425V27.9359H18.4567ZM18.607 17.6947L18.4782 16.6348C18.254 16.6563 18.0412 16.7339 17.8645 16.8588C17.6877 16.9837 17.5543 17.1507 17.4796 17.3405C17.405 17.5303 17.3921 17.7351 17.4426 17.9311C17.4931 18.1272 17.6048 18.3064 17.7648 18.4481L18.607 17.6947ZM26.8071 9.65841H28V9.65628L26.8071 9.65841ZM24.8197 5.38913L23.7079 5.00604C23.6248 5.19793 23.6057 5.4072 23.6532 5.60852C23.7006 5.80985 23.8124 5.9946 23.9751 6.1404L24.8197 5.38913ZM24.7004 1.09643L25.7883 0.662269C25.7171 0.520805 25.6121 0.394934 25.4806 0.29347C25.3492 0.192005 25.1944 0.117398 25.0273 0.0748706L24.7004 1.09643ZM19.516 2.78201L19.2154 3.81209C19.3756 3.84941 19.5428 3.85658 19.7063 3.83313C19.8697 3.80968 20.0259 3.75613 20.165 3.67588L19.516 2.78201ZM10.2399 2.78201L9.591 3.67588C9.73001 3.75613 9.88623 3.80968 10.0497 3.83313C10.2132 3.85658 10.3804 3.84941 10.5406 3.81209L10.2399 2.78201ZM5.05556 1.09856L4.7287 0.0769987C4.56108 0.119252 4.40588 0.193735 4.27398 0.295213C4.14209 0.396692 4.0367 0.522705 3.96524 0.664397L5.05556 1.09856ZM4.93626 5.39125L5.78084 6.14253C5.944 5.99654 6.05611 5.81142 6.10355 5.60966C6.15098 5.40791 6.13171 5.19821 6.04806 5.00604L4.93626 5.39125ZM2.94887 9.69672H4.14179V9.69246L2.94887 9.69672ZM11.1513 17.6947L11.9911 18.4502C12.1501 18.3093 12.2613 18.1312 12.312 17.9365C12.3627 17.7418 12.3509 17.5382 12.278 17.3492C12.205 17.1602 12.0738 16.9933 11.8995 16.8677C11.7251 16.7421 11.5146 16.6629 11.2921 16.6391L11.1489 17.6947H11.1513ZM10.1063 20.487H11.2992L11.2969 20.4082L10.1063 20.487ZM8.91343 27.9359V29H11.2992V27.9359H8.91343ZM9.74847 21.6001C8.30982 22.0044 7.39605 21.9597 6.79005 21.781C6.19121 21.6043 5.73074 21.2489 5.28937 20.7381C5.05864 20.4628 4.84364 20.1772 4.64519 19.8825C4.4424 19.5867 4.21097 19.2398 3.97716 18.9312C3.52147 18.3332 2.84867 17.584 1.76074 17.3286L1.15474 19.3888C1.3456 19.4314 1.59373 19.591 2.0017 20.1252C2.19734 20.3848 2.38344 20.6615 2.61725 21.002C2.84151 21.3255 3.09918 21.6831 3.39741 22.0321C4.00102 22.7344 4.82413 23.4431 6.04567 23.8028C7.26244 24.1603 8.70825 24.122 10.4642 23.6304L9.74847 21.6001ZM20.8425 20.355C20.8425 19.6782 20.8091 19.061 20.5944 18.4864C20.3654 17.8735 19.9693 17.401 19.4468 16.9392L17.7648 18.4502C18.1346 18.7759 18.2611 18.9717 18.3303 19.1589C18.4138 19.3824 18.4567 19.6995 18.4567 20.355H20.8425ZM18.7335 18.7524C20.8879 18.546 23.2379 18.0608 25.0487 16.6625C26.9097 15.2259 28 12.9806 28 9.65841L25.6142 9.66054C25.6142 12.5528 24.6837 14.1299 23.486 15.0535C22.2359 16.0198 20.4847 16.4433 18.4782 16.6348L18.7335 18.7524ZM28 9.65628C27.9929 7.7739 27.1526 5.96809 25.6619 4.63572L23.9751 6.1404C25.0201 7.07683 25.6094 8.33889 25.6142 9.66054L28 9.65628ZM25.9315 5.77221C26.2894 4.95496 26.4564 4.08238 26.4325 3.20341L24.0467 3.25661C24.0641 3.85259 23.949 4.44574 23.7079 5.00178L25.9315 5.77221ZM26.4325 3.20341C26.4084 2.326 26.1894 1.4637 25.7883 0.662269L23.6101 1.52847C23.8845 2.0733 24.03 2.6607 24.0467 3.25661L26.4325 3.20341ZM24.7004 1.09643C25.0273 0.0727424 25.0273 0.0706139 25.0249 0.0706139H25.0177L25.0082 0.0663574C24.9845 0.0606831 24.9606 0.0557145 24.9366 0.0514597C24.7699 0.0217182 24.6007 0.00463091 24.4308 0.000381421C24.0216 -0.00430866 23.6131 0.0342688 23.214 0.115307C22.2001 0.308979 20.771 0.789965 18.8718 1.88602L20.165 3.67375C21.8804 2.68624 23.0423 2.32444 23.7151 2.19674C23.9543 2.14762 24.1997 2.12616 24.4451 2.13289L24.426 2.13077C24.4181 2.12948 24.4101 2.12806 24.4022 2.12651L24.3879 2.12225H24.3807L24.3759 2.12012C24.3736 2.12012 24.3712 2.12012 24.7004 1.09431V1.09643ZM19.8166 1.74981C16.5783 0.997047 13.1777 0.997047 9.93933 1.74981L10.5406 3.81209C13.3847 3.15091 16.3713 3.15091 19.2154 3.81209L19.8166 1.74981ZM10.8865 1.88602C8.985 0.792093 7.55351 0.311107 6.53954 0.119564C6.14037 0.0392014 5.73193 0.00133804 5.32277 0.00676623C5.12925 0.0114706 4.93669 0.0328525 4.74778 0.0706139L4.73824 0.0748706H4.73108L5.05556 1.09856L5.38241 2.12225L5.37526 2.12438L5.3681 2.12651C5.35546 2.12963 5.34273 2.13247 5.32992 2.13502C5.56898 2.12951 5.80787 2.15309 6.0409 2.201C6.7137 2.32869 7.8756 2.68837 9.591 3.67588L10.8865 1.89027V1.88602ZM3.96762 0.660141C3.56659 1.46159 3.34764 2.32601 3.32345 3.20341L5.70927 3.25661C5.72344 2.66028 5.87192 2.07258 6.14587 1.52847L3.96762 0.660141ZM3.32345 3.20341C3.29959 4.08238 3.4666 4.95496 3.82447 5.77221L6.04806 5.00178C5.80617 4.44589 5.69021 3.85273 5.70688 3.25661L3.32106 3.20341H3.32345ZM4.09168 4.63572C3.34878 5.30057 2.76018 6.08961 2.35958 6.95765L4.56408 7.76639C4.8456 7.15983 5.26074 6.60649 5.78084 6.13827L4.09168 4.63572ZM2.35958 6.95765C1.95825 7.82634 1.75313 8.75716 1.75596 9.69672L4.14179 9.69246C4.14179 9.0327 4.28493 8.37933 4.56408 7.77064L2.35958 6.96191V6.95765ZM1.75596 9.69672C1.75596 13.0019 2.84867 15.2238 4.712 16.6519C6.51806 18.0352 8.86333 18.5247 11.0106 18.7524L11.2921 16.6391C9.2713 16.422 7.52011 15.9964 6.26517 15.0344C5.06748 14.1171 4.14179 12.5613 4.14179 9.69246H1.75596V9.69672ZM10.3091 16.9413C9.11622 18.0012 8.80845 19.2611 8.91581 20.5679L11.2969 20.4082C11.2253 19.5399 11.4233 18.9546 11.9935 18.4481L10.3115 16.9392L10.3091 16.9413ZM8.91343 20.487V27.9359H11.2992V20.487H8.91343ZM20.8425 27.9359V24.7435H18.4567V27.9359H20.8425ZM20.8425 24.7435V20.355H18.4567V24.7435H20.8425Z" fill="#F3865F"/>
					</svg>
				</a>
				<a href="https://www.linkedin.com/in/kaustubh-rai" class="social-icon linkedin" target="_blank">
				<svg class="linkedin" width="29" height="28" viewBox="0 0 29 28" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M25.7778 0C26.6324 0 27.452 0.327777 28.0562 0.911223C28.6605 1.49467 29 2.28599 29 3.11111V24.8889C29 25.714 28.6605 26.5053 28.0562 27.0888C27.452 27.6722 26.6324 28 25.7778 28H3.22222C2.36764 28 1.54805 27.6722 0.943767 27.0888C0.339483 26.5053 0 25.714 0 24.8889V3.11111C0 2.28599 0.339483 1.49467 0.943767 0.911223C1.54805 0.327777 2.36764 0 3.22222 0H25.7778ZM24.9722 24.1111V15.8667C24.9722 14.5217 24.4189 13.2319 23.4339 12.2808C22.4489 11.3298 21.113 10.7956 19.72 10.7956C18.3506 10.7956 16.7556 11.6044 15.9822 12.8178V11.0911H11.4872V24.1111H15.9822V16.4422C15.9822 15.2444 16.9811 14.2644 18.2217 14.2644C18.8199 14.2644 19.3936 14.4939 19.8166 14.9023C20.2396 15.3107 20.4772 15.8646 20.4772 16.4422V24.1111H24.9722ZM6.25111 8.64889C6.96896 8.64889 7.65742 8.37356 8.16501 7.88346C8.67261 7.39337 8.95778 6.72865 8.95778 6.03556C8.95778 4.58889 7.74944 3.40667 6.25111 3.40667C5.52899 3.40667 4.83644 3.68364 4.32582 4.17665C3.8152 4.66966 3.52833 5.33833 3.52833 6.03556C3.52833 7.48222 4.75278 8.64889 6.25111 8.64889ZM8.49056 24.1111V11.0911H4.02778V24.1111H8.49056Z" fill="#F3865F"/>
					</svg>
				</a>
			</div>
		</div>
		<!-- CONTENT OF FOOTER -->
		<footer id="footer-placeholder"></footer>
		<Footer />
	</body>
</html>
