---
// import Navigation from './Navigation.astro';
import '../styles/global.css';
import Copyright from '../../src/pages/Copyright.astro';

// import Hamburger from './Hamburger.astro';
---
  
<footer>
    <div class="nav-site-footer">
        <a href="/Copyright" target="_blank">
            <div class="footer-content">
                <span class="footer-symbol">C</span>
                <span class="footer-year">2024</span>
                <span class="footer-dot">·</span>
                <span class="footer-name">Kaustubh</span>
            </div>
        </a>
    </div>
</footer>
  